*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input{
    
    height: 35px;
    width: 300px;
    border: 1px solid cadetblue;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    
}

.fas{
    position: absolute;
    border: none;
    height: 35px;
    width: 35px;
    padding-top: 9px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: rgb(202, 194, 75);
}

#trash{
    
    margin-right: 0px;
    position: absolute;
    margin: 4px 0px 2px 50px ;
    display: inline-flex;    
    border: none;
    background: none;
}

p{
    border:1px solid #f0e9e9;
    border-collapse: collapse;
    height: 40px;    
    background-color: rgba(223, 228, 161, 0.849);
    color: rgb(3, 66, 66);   
    text-align: left;
    padding-left: 20px;
    padding-top: 10px;
    font-size: 1.2rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    overflow-y: scroll;
    overflow-x: hidden;
    min-width: 250px;
    max-width: 500px;
    margin: 10px auto 20px;
    
}

.taskToDo{
    
    margin-top: 30px;
}

.body-class{
    text-align: center;
    
}

header{
    background-color: rgba(82, 67, 67, 0.555);
    height: 50px;
    padding: 10px 5px 10px;
}

.alink{
    
    
    float: left;
    letter-spacing: 3px;
    text-decoration: none;
    color: rgb(107, 6, 6);
    font-size: larger;
    margin-right: 20px;
    
}

h2, form{
    margin-top: 70px;
}

#footer1{
    position: absolute;
    bottom: 0px;
    background-color: #f2f2f2;
    height: 70px;
    width: 100%;
    color: #5f6368;
    border-top: 1px solid;
    border-color: burlywood;
}

#menu{
    
    float: right;
    position: relative;
    margin-right: 15px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}